$primary-100: hsl(340, 30%, 90%);
$primary-300: hsl(340, 60%, 65%);
$primary-700: hsl(340, 80%, 50%);
$secondary-500: hsl(210, 80%, 50%);

$neutral-050: hsl(0, 0%, 92%);
$neutral-500: hsl(0, 0%, 60%);
$neutral-900: hsl(0, 0%, 8%);