@use "./colors" as clr;

body {
    font-family: "Segoe UI", sans-serif;
    
    background-color: clr.$neutral-050;
    color: clr.$neutral-900;

    min-height: 100vh;
}

.container {
    width: min(85%, 1200px);
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
}

button {
    display: block;
    border: 0;
    border-radius: 0;
}

button:hover {
    cursor: pointer;
}