@use "./colors" as clr;

.calendar {
    background-color: white;
    padding: 1em;
}

.calendar__title {
    font-weight: 400;
    font-size: min(2.2rem, 9vw);

    text-align: center;

    padding-bottom: 1em;
}

.calendar__headings {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;

    > li {
        width: 100%;
    }
}

.calendar__heading {
    text-align: center;
    font-weight: bold;
    font-size: min(6vw, 1.3rem);

    padding-bottom: 1em;
}

.calendar__cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__cell {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: min(20vw, 5rem);
    font-size: min(6vw, 1.1rem);
    padding-top: 0.5em;

    border-radius: 0.3em;

    transition: box-shadow 50ms linear;
}

.calendar__cell:hover,
.calendar__cell:focus {
    outline: none;
    box-shadow: 0 0 10px clr.$neutral-500;
    z-index: 2;

    cursor: pointer;

    transition: box-shadow 200ms linear;
}
.calendar__dot {
    $size: min(2vw, 0.5rem);
    width: $size;
    height: $size;
    margin: $size;

    background-color: clr.$primary-700;
    border-radius: 50%;
}

.calendar__cell--today {
    z-index: 3;
    background-color: clr.$primary-700;
    color: white;
    font-weight: bold;

    .calendar__dot {
        background-color: white;
    }
}
