@use "./colors" as clr;
@use "./breakpoints" as brk;

.tasks {
    @media (min-width: brk.$small) {
        .container {
            display: flex;

            > * + * {
                margin-left: 1em;
            }
        }

        .calendar {
            flex: 2;
        }
    }
}

.task-list {
    flex: 1;

    padding: 1em;
    margin: 1em 0;
    max-height: 90vh;

    background-color: white;

    overflow-y: scroll;

    > * + * {
        margin-top: 1em;
    }
}

.task {
    padding: 1.5em clamp(1em, 1vw, 2.2em);

    background-color: clr.$primary-300;
    color: mix(clr.$secondary-500, black, 20%);
}

.task__title {
    font-size: min(2vw, 1.4rem);
}

.task__actions {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    margin-top: 0.75em;
    padding: 0;

    > * + * {
        margin-left: .5em;
    }
}

.task__action {
    display: inline;
    font-size: min(5vw, 1rem);
    text-decoration: underline;
    padding: 0.25em 0.3em;

    > * + * {
        margin-left: 0.25em;
        margin-top: 0.5em;
    }
}

.task__action:hover {
    cursor: pointer;
    background-color: rgba(black, 20%);
}